.ui-ico-access {
  content: url(/assets/images/icons/access.png);
}

.ui-ico-acept {
  content: url(/assets/images/icons/acept.png);
}

.ui-ico-add {
  content: url(/assets/images/icons/add.png);
}

.ui-ico-cancel {
  content: url(/assets/images/icons/cancel.png);
}

.ui-ico-delete {
  content: url(/assets/images/icons/delete.png);
}

.ui-ico-edit {
  content: url(/assets/images/icons/edit.png);
}

.ui-ico-excel {
  content: url(/assets/images/icons/excel.png);
}

.ui-ico-exit {
  content: url(/assets/images/icons/exit.png);
}

.ui-ico-invoice {
  content: url(/assets/images/icons/invoice.png);
}

.ui-ico-key {
  content: url(/assets/images/icons/key.png);
}

.ui-ico-loading {
  content: url(/assets/images/icons/loading.gif);
}

.ui-ico-logout {
  content: url(/assets/images/icons/logout.png);
}

.ui-ico-menu {
  content: url(/assets/images/icons/menu.png);
}

.ui-ico-movements {
  content: url(/assets/images/icons/movements.png);
}

.ui-ico-new {
  content: url(/assets/images/icons/new.png);
}

.ui-ico-pdf {
  content: url(/assets/images/icons/pdf.gif);
}

.ui-ico-printer {
  content: url(/assets/images/icons/printer.png);
}

.ui-ico-query {
  content: url(/assets/images/icons/query.png);
}

.ui-ico-menu {
  content: url(/assets/images/icons/menu.png);
}

.ui-ico-remove {
  content: url(/assets/images/icons/remove.png);
}

.ui-ico-save {
  content: url(/assets/images/icons/save.png);
}

.ui-ico-search {
  content: url(/assets/images/icons/search.png);
}

.ui-ico-settings {
  content: url(/assets/images/icons/settings.png);
}

.ui-ico-siaf {
  content: url(/assets/images/icons/siaf.png);
}

.ui-ico-suppress {
  content: url(/assets/images/icons/suppress.png);
}

.ui-ico-undo {
  content: url(/assets/images/icons/undo.png);
}

.ui-ico-user-go {
  content: url(/assets/images/icons/user-go.png);
}

.ui-tree-icon-branch {
  content: url(/assets/images/tree/branch.gif);
}

.ui-tree-icon-branch-end {
  content: url(/assets/images/tree/branch-end.gif);
}

.ui-tree-icon-branch-empty {
  content: url(/assets/images/tree/branch-empty.gif);
}

.ui-tree-icon-branch-minus {
  content: url(/assets/images/tree/branch-minus.gif);
}

.ui-tree-icon-branch-minus-end {
  content: url(/assets/images/tree/branch-minus-end.gif);
}

.ui-tree-icon-branch-plus {
  content: url(/assets/images/tree/branch-plus.gif);
}

.ui-tree-icon-branch-plus-end {
  content: url(/assets/images/tree/branch-plus-end.gif);
}

.ui-tree-icon-leaf {
  content: url(/assets/images/tree/leaf.png);
  margin-top: 1px;
  /*margin-bottom: -4px;*/
  height: 13px;
  width: 14px;
  vertical-align: top;
}

.ui-tree-icon-folder {
  content: url(/assets/images/tree/folder.png);
  margin-top: 1px;
  /*margin-bottom: -4px;*/
  /*height: 13px;
    width: 14px;*/
  vertical-align: top;
}

.ui-tree-icon-folder-open {
  content: url(/assets/images/tree/folder-open.png);
  margin-top: 1px;
  /*margin-bottom: -4px;*/
  /*height: 13px;
    width: 14px;*/
  vertical-align: top;
}
