<div class="header-intro">
    <a class="ml-o5r" href="#">
        <img [src]="imgSrv.getIcon('logo-concytec', 'png')" style="width:100px;">
    </a>
    <a class="ml-o5r" href="#">
        <img [src]="imgSrv.getIcon('logo-octi', 'png')" style="width:100px;">
    </a>
    <!--<div class="mw-auto mx-o375r">
        <div class="c-white fw-b" style="font-size: .75rem">{{ storeSrv.getItem('appInfo') == undefined ? '' : storeSrv.getItem('appInfo').uniejeNombre }}</div>
        <div class="c-white">{{ storeSrv.getItem('userInfo') == undefined ? '' : storeSrv.getItem('userInfo').uniorgNombre }}</div>
        <div class="c-white">{{ storeSrv.getItem('appInfo') == undefined ? '' : storeSrv.getItem('appInfo').appNombre }}</div>
    </div>-->
</div>
<div>
</div>
<nav class="navbar">
    <div>
        <ul class="navbar-nav">
            <li class="nav-item dropdown"> <!--(click)="fnNavbarClick(10)"-->
                <!--<a class="nav-link dropdown-toggle" href="#">-->
                    <!--<img class="br-round w-100g h-100g" style="margin-bottom: 7px;" [src]="imgSrv.getIcoJ('sin-foto')">-->
                <!--</a>-->
            </li>
        </ul>
    </div>
</nav>